@page "/EditarArtista/{NomeArtista}"

@inject ArtistasAPI artistaAPI
@inject NavigationManager navigationManager


<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Edição de Artista</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="nome"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="bio"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <div class="d-flex align-content-end justify-center mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Atualizar"
                       Color="Color.Primary"
                       Class="ml-auto">
                Salvar
            </MudButton>
            <MudButton Variant="Variant.Filled"
                       @onclick="Deletar"
                       Color="Color.Secondary"
                       Class="ml-auto">
                Deletar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>


@code {
    private string? nome;
    private string? bio;
    private string? fotoPerfil;
    [Parameter]
    public string? NomeArtista { get; set; }

    public ArtistaResponse? Artista { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Artista = await artistaAPI.GetArtistaPorNomeAsync(NomeArtista!);
        nome = Artista!.nome;
        bio = Artista!.bio;
        fotoPerfil = Artista!.fotoPerfil;
    }

    private async Task Atualizar()
    {
        var requestEdit = new ArtistaRequestEdit(Artista!.id, nome!, bio!, fotoPerfil!);
        await artistaAPI.UpdateArtista(requestEdit);
        navigationManager.NavigateTo("/Artistas");

    }


    private async Task Deletar()
    {
        await artistaAPI.DeleteArtistaAsync(Artista!.id);
        navigationManager.NavigateTo("/Artistas");
    }
}